*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
}
/* dropdown */
.dropbtn {
    padding: 16px;
    font-size: 32px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 15%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFE1FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover{
    background-color: #7E60BF; 
    color: white;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  .dropdown:hover .dropbtn{
    padding: 20px;
  }
  
/* side navbar */
.sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg, #3B1E54, #9B7EBD);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.sidebar ul li{
    width: 100%;
    list-style: none;
}
.sidebar ul li:first-child{
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.sidebar ul li:first-child:hover{
    background: none;
}
.sidebar ul li:hover{
    background: #444;
}
.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
.sidebar .title{
    padding: 0 10px;
    font-size: 20px;
    /* top: 0;
    left: 0;
    object-fit: cover; */
}
.logo{
    width: 60px;
    height: 50px;
    margin-top: 1%;
}

/* main nav bar */
.main{
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: #f5f5f5;
}
.top-bar{
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background: #fff;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr; /*used for bell and img align at right navbar */
    grid-gap: 5px;
    align-items: center;
    color: #444;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.top-bar .search{
    position: relative;
    max-width: 400px;
}
.search input{
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none; 
    border: none; 
    border: 2px solid #D4BEE4;
    /* border-radius: 3%; */
    background: #f5f5f5;
}
.search i{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.user{
    position: relative;
    width: 50px;
    height: 50px;
}
img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.cards{
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
}
.cards .card{
    background: linear-gradient(45deg, #3B1E54, #9B7EBD);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.card-name{
    color: #fff;
    font-weight: 600;
}
.icon-box{
    font-size: 45px;
    color: #D4BEE4;
}
/* tables of second section */
.tables{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
    
}
form input, select{
    height: 40px;
    width: 50%;
    font-size: 15px;
    margin-top: 5%;
    border: 2px solid #8760a8;
    /* border: none; */
    /* padding: 3%; */
}
form button{
    width: 15%;
    font-size: 20px;
    background-color: #8760a8;
    color: #fff;
    border: none;
    cursor:pointer;
    padding: 1%;
}

/* table 2 image */
.img-box-small{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.new-student-list, .teachers-list{
    min-height: 350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #d3b2b2, #9B7EBD);
    border: 2px solid black;
}
/* .fee-student-list{
    min-width: 1200px;
    
} */
.new-student-list, .fee-student-list table tbody td:last-child{
    white-space: nowrap;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color:; */
}
.teacher button{
    background-color: white;
    border: none;
    font-size: 15px;
}
.btn{
    padding: 5px 10px;
    background: linear-gradient(45deg, #3B1E54, #9B7EBD);
    color: beige;
    text-decoration: none;
    border: 2px solid beige;
}
.btn:hover{
    background: linear-gradient(45deg, #3B1E54, #9B7EBD);
}
table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    
    /* color: beige; */
}
thead td{
    font-weight: 600;
    /* color: beige; */
}
table tr{
    border-bottom: 1px solid #fff;
}
tbody tr:hover{
    background: linear-gradient(90deg,  #dac9ee,  #d7c2eb);
}
table tbody tr:last-child{
    border-bottom: none;
}
td{
    padding: 9px 5px;
}
td i{
    padding: 7px;
    /* background-color: #fff; */
    color: #740938;
    /* border-radius: 50px; */
}
/* profile */
.update a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
@media(max-width:1090px){
    .sidebar, .sidebar img{
        width: 60px;
    }
    
    .main{
        width: calc(100% - 60px);
        left: 60px;
    }
    .top-bar{
        width: calc(100% - 60px);   
    }
}
@media(max-width:860px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .tables{
        grid-template-columns: 1fr;
    }
}
@media(max-width:530px){
    .cards{
        grid-template-columns: 1fr;
    }
    .new-student-list td:nth-child(3){
        display: none;
    }
    /* .fee-student-list td:nth-child(3){
        display: none;
    } */
}
@media(max-width:420px){
    .new-student-list, .teachers-list{
        font-size: 70%;
        padding: 10px;
        min-height: 200px;
    }
    
    .cards .tables{
        padding: 10px;
    }
    .search input{
        padding: 0 10px;
    }
    .user{
        width: 40px;
        height: 40px;
    }
}